

<div class="panel panel-success">
      <div class="panel-heading"><strong><span class="glyphicon glyphicon-user"></span> <%= comment.name%></strong></div>
      <div class="panel-body"><%= comment.message %><%=  link_to 'Delete', [comment.post, comment], method: :delete, class: "btn btn-danger pull-right" , data: {confirm: "Are you sure?"}%></div>
    </div>


