<nav class="navbar navbar-inverse" style="border-radius:0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">RailsBlog</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', root_path %></li>
        <li><a href="#">Tab</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "<span class='glyphicon glyphicon-plus' style='color:#80eda8'></span> Create Post".html_safe, new_post_path(),render_as_button: true,html: { class: 'btn btn-success' } %></li>
        <%# <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> %>
      </ul>
    </div>
  </div>
</nav>